@media only screen and (max-width: 767px) {
   .parent{
    flex-direction: column;
    
   }
  }
  .parent{
   text-align: center;
    
   }
   label{
    font-size: 18px;
    font-weight: bold;
   }
  input{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 4px;
    font-size: 18px;
    
   }